/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: auto;
    /* Added by me */
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/****************************************/

html {
    font-size: 1rem;
}

body {
    width: 50%;
    margin: auto;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25rem;
}

body,
#monthsSelector {
    background-color: #ECEBDE;
}

#header {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 30px 0;
    padding: 10px;
}

#push-right {
    display: flex;
    gap: 30px;
}

#monthsSelector {
    border: none;
    text-align: center;

    /*remove the arrow from the select*/
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#yearsSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.downUpButtons {
    border-radius: 50%;
    width: 32px;
}

#today {
    border-radius: 30px;
    width: 100px;
}

.downUpButtons,
#today {
    background-color: #D4E7C5;
    border: none;
}

#months {
    display: flex;
    text-align: center;
    height: 572px;
    /*border-radius: 0px 2px 2px 2px;
    box-shadow: 4px 4px 1px 8px black;*/
}

#selectedDay {
    display: flex;
    flex: 1;
    background-color: #99BC85;
}

#currentMonth {
    display: flex;
    background-color: white;
    flex-direction: column;
    flex: 2;
}

#selectedDay,
#currentMonth {
    padding: 10px;
}

#dayLabels {
    display: flex;
}

#dayLabels p {
    flex: 0 0 calc(100% / 7);
}

#days {
    display: flex;
    flex-wrap: wrap;
}

.calendarCell {
    flex: 0 0 calc(100% / 7);
    aspect-ratio: 1 / 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.day {
    width: 41px;
    padding: 5px;
    border-radius: 50%;
}

.previous-month,
.next-month {
    opacity: 0.1;
}

.current-month {
    background-color: #F9F9F9;
}

.isToday {
    background-color: #99BC85;
}

.downUpButtons:hover,
#today:hover,
.day:hover {
    cursor: pointer;
}

#footer {
    margin-top: 30px;
    padding: 10px;
    text-align: center;
}