/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/

*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

@media (prefers-reduced-motion: no-preference) {
    html {
        interpolate-size: allow-keywords;
    }
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
    hyphens: auto;
    /* Added by me */
}

p {
    text-wrap: pretty;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    text-wrap: balance;
}

#root,
#__next {
    isolation: isolate;
}

/********** GENERAL **********/

html {
    font-size: 1rem;
}

body {
    width: 80%;
    margin: auto;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1.25rem;
}

body,
#monthsSelector {
    background-color: #ECEBDE;
}

/********** HEADER **********/

#header {
    display: flex;
    justify-content: space-between;
    margin: 15px 0 30px 0;
    padding: 10px 0;
    gap: 30px;
}

#monthsSelector {
    border: none;
    text-align: center;

    /*remove the arrow from the select*/
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

#yearsSelector {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/********** CALENDAR **********/

#calendar {
    display: flex;
    height: auto;
    font-size: 1rem;
}

    /********** LEFT PANEL **********/

#selectedDay {
    display: flex;
    flex: 1;
    flex-direction: column;
    background-color: #99BC85;
    justify-content: space-between;
    margin-right: 30px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#date {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 30px;
}

#date p:first-child {
    margin-top: -40px;
    margin-bottom: -35px;
    font-size: 7rem;
    font-weight: bold;
}

#date p:last-child {
    font-size: 1.75rem;
    font-weight: bold;
}

#expenses {
    display: flex;
    flex-direction: column;
    flex: 1;
    background-color: white;
    padding: 10px 10px 0 10px;
    border-top: 5px solid #D4E7C5;
    font-size: 0.9rem;
}

.expense {
    display: flex;
    margin: 5px;
    padding-bottom: 7px;
    border-bottom: 1px solid lightgrey;
}

.expenseLabel {
    margin-right: 10px;
}

.expenseTag {
    border: 1px solid lightgrey;
    border-radius: 10px;
    padding: 0 7px;
    color: lightgrey;
    font-size: 0.75rem;
}

.expenseAmount {
    margin-left: auto;
    margin-right: 10px;
}

.expenseActions {
    display: flex;
    align-items: center;
    justify-content: center;
}

#total {
    text-align: center;
    font-size: 1.5rem;
    font-weight: bold;
    margin-right: 5px;
}

#footerExpenses {
    display: flex;
    background-color: white;
    padding: 0 10px 10px 10px;
}

    /********** CURRENT MONTH **********/

#currentMonth {
    display: flex;
    background-color: white;
    flex-direction: column;
    flex: 2;
    text-align: center;
    padding: 30px;
    box-shadow: 0px 3px 15px rgba(0,0,0,0.2);
}

#dayLabels {
    display: flex;
}

#dayLabels p {
    flex: 0 0 calc(100% / 7);
}

#days {
    display: flex;
    flex-wrap: wrap;
}

.calendarCell {
    flex: 0 0 calc(100% / 7);
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.day {
    width: 34px;
    padding: 5px;
    border-radius: 50%;
}

.total {
    margin-top: 5px;
    font-size: 0.8rem;
}

.previous-month,
.next-month {
    opacity: 0;
}

.current-month p:first-child {
    background-color: #F9F9F9;
}

.current-month p:first-child:hover {
    cursor: pointer;
}

.isToday p:first-child {
    background-color: #99BC85;
    color: white;
}

#footer {
    margin-top: 10px;
    padding: 10px;
    text-align: center;
}

/********** BUTTONS **********/

.downUpBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
    padding: 10px;
}

#todayBtn {
    border-radius: 30px;
    width: 100px;
    margin-left: auto;
}

#addExpenseBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    aspect-ratio: 1 / 1;
    padding: 10px;
    border-radius: 50%;
    color: white;
    font-size: 2rem;
}

.downUpBtn,
#todayBtn,
#addExpenseBtn {
    background-color: #D4E7C5;
    border: none;
}

.downUpBtn:hover,
#todayBtn:hover,
#addExpenseBtn:hover {
    cursor: pointer;
}